body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('back.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:lightsteelblue;
    color: white;
    padding: 1em;
}

header .logo {
    font-size: 1.0em;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color:black;
    text-decoration: none;
}

.hero {
    text-align: center;
    background: url('back.jpg') no-repeat center center/cover;
    color: white;
    padding: 5em 0;
}

.hero h1 {
    font-size: 3em;
    color:black;
}
.featured-products {
    padding: 2em;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2em;
}
